.layout {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;

  margin: 0;
}

.select {
  margin: 0 auto;
  width: 20px;
}

.download {
  color: var(--colors-green-10, #299764);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  /* cursor: pointer; */
}

a {
  text-decoration: none;
  color: var(--colors-green-10, #299764);
}

.link {
  color: var(--colors-green-10, #299764);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  cursor: pointer;
}

.grey-text {
  color: var(--colors-grey-10, #4f4f4f);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.mouse {
  cursor: pointer;
}
